.nav{
    position: fixed;
    animation: slide-down .5s ;
}
@keyframes slide-down{
    from{
        transform: translateY(-100);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
.nav-remove{
    position: relative;
    animation: slide-up .3s;
}
@keyframes slide-up{
    from{
        transform: translateY(0);
        opacity: 1;
    }
    to{
        transform: translateY(-100);
        opacity: 0;
    }
}