@import url('https://fonts.cdnfonts.com/css/tt-commons');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .links{
    @apply md:text-[18px]  hover:border-b-4 py-3 h-4/5 hover:border-b-green-500 font-extrabold
  }
  .header-text{
    @apply text-[34px] font-[600] text-center leading-[37px]
  }
  .btn{
    @apply bg-black  no-underline flex justify-center items-center   times text-white rounded-[30px]  hover:bg-white hover:text-black hover:border-black hover:border-2 hover:font-[800]  font-[600]
  }
}
                
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'TT Commons', sans-serif;
                                                
}
:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.times{
  /* font-family: 'Times New Roman', Times, serif; */
}



